<%= render 'form', disciplina: @disciplina %>
<div class = "container text-right" style = "width:80%; margin: 0 auto">
<%= link_to 'Excluir', disciplina_path(@disciplina), method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, class:"btn btn-danger btn-sm", style: "color: white; padding: 10px; margin-top: 15px" %>
</div>