/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.bg{
  background: rgba(32,37,41,1);
}
.conteudo{
  background-color: #b9a88e;
  width: 100%;
  color: black;
  padding:15px;
}
body{
  background-color: #b9a88e ;
}
/*
 * Base structure
 */

 body{
  font-family: "AmerType Md BT";
 }

 .telaLogin{
   width: 30%;
   position: absolute;
   left: 50%;
   top: 50%;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   background-color: rgba(32,37,41,1);
   padding: 40px;
   border-radius: 10px;
   font-family: "AmerType Md BT";
   color: #e5e5e5;
   text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
 }

 .telaLogin a{
   text-decoration: none;
   color: #e5e5e5;
   text-align: center;
}
/*sidebar*/

  #msgAlerts{
    background: rgba(32,37,41,1);
    right: 0;
    bottom: 0;
    position: absolute;
    width: 40%;
    height: 30px;
    text-align: center;
    color: #e5e5e5;
    vertical-align: center;
    display:inline;
    border-radius: 5px;
  }

#sidebar-wrapper{
  z-index: 1;
  position: fixed;
  width: 20%;
  height: 100%;
  top: 0px;
  bottom: 0;
  overflow-y: hidden;
  background: rgba(32,37,41,1);
}



.image-upload > input
{
   display: none;
}
.image-upload > label{
  cursor:pointer;
}

#page-content-wrapper{
  width: 80%;
  position:absolute;
  padding:15px;
  margin-left:20%;
}

.sidebar-nav{
  padding: 0;
  padding-top: 30px;
  list-style: none;
}

.sidebar-nav li{
  text-indent: 20px;
  line-height: 40px;
  text-align: center;
}

.sidebar-nav li a{
  display: block;
  text-decoration: none;
  color: #e5e5e5;
}

.sidebar-nav li img{
  padding-bottom: 10px;
}


.sidebar-nav li a:hover{
  background: #b9a88e;
}

.btn btn-light{
  background: #b9a88e;
} 