// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nomePrincipal{
  width: 50%;
  margin: 0 auto;
  margin-top:2%;

  font-family: "AmerType Md BT";
  color: white;
  text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
  text-align: center;
  vertical-align: middle;
}

.nomePrincipal h1{
  font-size: 100px;
}

.telaLogin{
  width: 30%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(50,50,50,.8);
  padding: 40px;
  border-radius: 10px;
  font-family: "AmerType Md BT";
  color: white;
  text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
}

.telaLogin a{
  text-decoration: none;
  color: white;
  text-align: center;
}
